@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3b4acd;
    color: #A5B2D3;
    padding: .5em;
    font-family: serif;
    height: 100vh;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header svg {
    width: 1.5em;
    cursor: pointer;
}

a {
    color: white;
}


ul {
    list-style: none;
    padding: 0;
}

a.logo {
    font-weight: bold;
    margin: 0 1em;
}

a.cta-btn {
    margin-left: auto;
    background: #FC85AE;
    padding: 1em;
    display: inline-block;
    border-radius: 2em;
    font-size: .6em;
    color: #303A52;
    font-weight: bold;
}

/* Navigation */


nav {
    position: fixed;
    background: #576483;
    height: 100vh;
    left: 0;
    top: 0;
    width: 80%;
    visibility: hidden;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s;
    text-align: center;
}

nav p {
    margin-bottom: 0;
}

nav svg {
    cursor: pointer;
    width: 1em;
}

nav ul li a {
    display: block;
    padding: .2em;
    font-size: 1.8em;
}

.selected {
    background: #9E579D;
}

.open-nav {
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
}


/* Main Section */


h1 {
    color: white;
    margin-top: 1em;
}

.panel {
    background: #39445F;
    border-radius: .3em;
}

h3 {
    color: #FC85AE;
    margin: 0;
    font-size: 2em;
}

ul.data li p {
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    margin: .3em 0 1em;
}

ul.data li:last-child p {
    margin-bottom: 0;
}

ul.secondary {
    margin-top: 2em;
}

ul.secondary li p {
    font-size: 1.3em;
}

main {
    border: 1px solid white;
}


/* Your Fixes Below */

body {
    background: #303A52;
    font-family: 'Nunito', sans-serif;
}

nav {
    background: #2C354A;
}

main {
    border: unset;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.4em;
}

a.cta-btn {
    font-size: .9em;
    padding: .2em .4em;
    border-radius: .2em;
}

nav ul li a {
    font-size: 1.2em;
    padding: .8em 1em;
}

h3 {
    font-size: unset;
}

nav {
    text-align: left;
}

.inner-wrapper {
    padding: 1em;
}

.panel {
    padding: .5em 1em;
    margin-bottom: 2em;
}

.nav-logo {
    display: none;
}

/* Large Phones */

@media (min-width: 520px) {

    .data {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 30%;
        place-content: center;
    }

    .data.secondary {
        grid-template-columns: repeat(4, 1fr);
        background: #39445F;
    }

    header {
        padding: 2em 0 0;
    }

    h1 {
        font-size: 3em;
        text-align: start;
    }

    .left {
        max-width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 20% 80%;
        text-align: left;
    }

    .left h3 {
        align-self: center;
        justify-self: start;
    }

    a.cta-btn {
        font-size: 1em;
        padding: .5em .7em;
    }

    .nav-logo {
        text-align: center;
        display: block;
        font-size: 2em;
        font-weight: 900;
        margin-bottom: 1em;
    }

}

@media screen and (min-width: 520px) {
    body {
        display: grid;
        grid-template-columns: 20% auto;
        padding: 0;
        text-align: center;
        height: 100vh;
        overflow: hidden;
    }

    nav {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: translateX(0%);
        width: 100%;
        padding-top: 2em;
    }

    #exit-btn {
        display: none;
    }

    .container {
        max-width: 100%;
        padding: 0 2em;
    }

    #menu-btn {
        display: none;
    }

    a.logo {
        font-size: 1.5em;
        margin: 0;
        display: none;
    }

    a.cta-btn {
        font-size: 1.5em;
    }
}

/*

- White Space
- Color
- Contrast
- Scale
- Alignment
- Typography
- Visual Hierarchy

*/



/* Ignore this -- for displaying the viewport width */
.width-container {
    display: none;
}

.display-width {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #E6E6E6;
    padding: .3em;
    font-size: .85em;
}
